/* ---------------------------------------------------
   DEBUG PAGE
--------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

#hdmi__debug {
  max-width: 900px;
  padding: 2rem 1.5rem;
  background-color: var(--hdmi-white);
  border: 1px solid var(--hdmi-border);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}

.hdmi__copy-button,
.hdmi__debug-heading,
.hdmi__debug-description,
.hdmi__debug-section,
.hdmi__debug-subheading,
.hdmi__debug-subtitle,
.hdmi__log-box,
.hdmi__debug-error-list,
.hdmi__debug-section.hdmi__debug-help {
  margin: 0;
}

.hdmi__debug-heading {
  font-size: 1.75rem;
  line-height: 1;
  color: #2c3338;
  margin-bottom: 0.8rem;
}

.hdmi__debug-description {
  margin: 0;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: var(--hdmi-muted-text);
}

.hdmi__debug-divider {
  margin-bottom: 2rem;
}

.hdmi__debug-section {
  margin-bottom: 2rem;
}

.hdmi__debug-subheading {
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 0.8rem;
  color: #2c3338;
}

.hdmi__debug-subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.hdmi__log-box {
  font-family: "Source Sans 3", monospace;
  background-color: var(--hdmi-light-gray);
  border: 1px solid var(--hdmi-border);
  border-radius: 6px;
  padding: 2em 1.5em;
  font-size: 0.875rem;
  overflow-x: auto;
  word-break: break-word;
}

#hdmi__copy-debug,
#hdmi__copy-error {
  margin-bottom: 1rem;
}

/* ---------------------------------------------------
   DEBUG SECTION
--------------------------------------------------- */
.hdmi__log-box li {
  font-size: 1rem;
  color: #202020;
  line-height: 1;
  margin-bottom: 0;
}

.hdmi__log-box li strong {
  display: inline-block;
  color: #004a7c;
}

.hdmi__log-box > ul {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: square;
  gap: 2rem;
  color: var(--hdmi-muted-text);
  padding: 0;
  margin: 0 0 0.5rem 0;
}

.hdmi__log-box ul > li > strong {
  margin-right: 0.5rem;
}

/* List inside a list item */
.hdmi__has-list-inside {
  white-space-collapse: collapse;
}

.hdmi__has-list-inside > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
  list-style-type: none;
  color: var(--hdmi-muted-text);
  padding: 0;
  margin-left: 2rem;
}

.hdmi__list-after,
.hdmi__inside-list {
  margin-bottom: 1.5rem;
}

.hdmi__list-after:last-child,
.hdmi__inside-list:last-child {
  margin-bottom: 0;
}

/* ---------------------------------------------------
   ERROR SECTION
--------------------------------------------------- */
#hdmi__error-box {
  max-height: 600px;
  overflow-y: auto;
}

#hdmi__error-box li {
  list-style-type: none;
}

#hdmi__error-box strong {
  color: var(--hdmi-red);
}

#hdmi__error-box li:last-child {
  margin-bottom: 0;
}

/* ---------------------------------------------------
   HELP SECTION
--------------------------------------------------- */
.hdmi__debug-help {
  font-size: 1rem;
  background: var(--hdmi-light-gray);
  border: 1px solid var(--hdmi-border);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 0;
}

.hdmi__debug-help a {
  color: var(--hdmi-accent-light);
  text-decoration: none;
}

.hdmi__debug-help a:hover {
  text-decoration: underline;
}
